In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score,accuracy_score
from sklearn.model_selection import train_test_split

In [477]:
data = pd.read_csv('train.csv')

In [267]:
data['buy'].value_counts() ##data imbalance

0    37163
1     1998
Name: buy, dtype: int64

In [307]:
#data.groupby(['created_at','signup_date'])['products_purchased'].mean()

In [195]:
data.head()

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0

In [474]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   campaign_var_1        39161 non-null  int64
 2   campaign_var_2        39161 non-null  int64
 3   products_purchased    39161 non-null  float64
 4   signup_date           24048 non-null  datetime64[ns]
 5   user_activity_var_1   39161 non-null  int64
 6   user_activity_var_2   39161 non-null  int64
 7   user_activity_var_3   39161 non-null  int64
 8   user_activity_var_4   39161 non-null  int64
 9   user_activity_var_5   39161 non-null  int64
 10  user_activity_var_6   39161 non-null  int64
 11  user_activity_var_7   39161 non-null  int64
 12  user_activity_var_8   39161 non-null  int64
 13  user_activity_var_9   39161 non-null  int64
 14  user_activity_var_10  39161 non-null  int64
 15  user_activity_var_11  39161 non-null  int64
 16  user_activity_var_12  39161 non-null  int64
 17  buy                   39161 non-null  int64
 18  signup_date_day       24048 non-null  float64
 19  signup_date_quarter   24048 non-null  float64
 20  signup_date_month     24048 non-null  float64
 21  created_at_month      39161 non-null  int64
 22  created_at_day        39161 non-null  int64
 23  created_at_quarter    39161 non-null  int64
 24  Is Weekend            39161 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(1), int64(19)
memory usage: 7.3 MB

In [478]:
def transform(df):
    df['created_at'] = pd.to_datetime(df['created_at'])
    df['signup_date'] = pd.to_datetime(df['signup_date'])
    ##dropping signup_date,id
    #del df['signup_date']
    #del df['id']
    ##fill null values
    df['signup_date_day'] = df['signup_date'].dt.day
    df['signup_date_quarter'] = df['signup_date'].dt.quarter
    df['signup_date_month'] = df['signup_date'].dt.month
    #df['signup_date_day'].fillna(float(df['signup_date_day'].median()),inplace=True)
    #df['signup_date_quarter'].fillna(float(df['signup_date_quarter'].mode()),inplace=True)
    #df['signup_date_month'].fillna(float(df['signup_date_month'].mode()),inplace=True)
    
    df['products_purchased'].fillna(float(df['products_purchased'].mode()),inplace=True)
    df['created_at_month'] = df['created_at'].dt.month
    df['created_at_day'] = df['created_at'].dt.day
    df['created_at_quarter'] = df['created_at'].dt.quarter
    df["Is Weekend"] = df['created_at'].dt.day_name().isin(['Saturday', 'Sunday'])
    del df['created_at']
    del df['signup_date']
    df['Is Weekend'] = df['Is Weekend'].astype(int)
    return df

In [479]:
data = transform(data)

In [480]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   campaign_var_1        39161 non-null  int64
 2   campaign_var_2        39161 non-null  int64
 3   products_purchased    39161 non-null  float64
 4   user_activity_var_1   39161 non-null  int64
 5   user_activity_var_2   39161 non-null  int64
 6   user_activity_var_3   39161 non-null  int64
 7   user_activity_var_4   39161 non-null  int64
 8   user_activity_var_5   39161 non-null  int64
 9   user_activity_var_6   39161 non-null  int64
 10  user_activity_var_7   39161 non-null  int64
 11  user_activity_var_8   39161 non-null  int64
 12  user_activity_var_9   39161 non-null  int64
 13  user_activity_var_10  39161 non-null  int64
 14  user_activity_var_11  39161 non-null  int64
 15  user_activity_var_12  39161 non-null  int64
 16  buy                   39161 non-null  int64
 17  signup_date_day       24048 non-null  float64
 18  signup_date_quarter   24048 non-null  float64
 19  signup_date_month     24048 non-null  float64
 20  created_at_month      39161 non-null  int64
 21  created_at_day        39161 non-null  int64
 22  created_at_quarter    39161 non-null  int64
 23  Is Weekend            39161 non-null  int32
dtypes: float64(4), int32(1), int64(19)
memory usage: 7.0 MB

In [481]:
columns = list(data.columns)
columns.remove('buy')

In [482]:
from sklearn.impute import KNNImputer
knn = KNNImputer(n_neighbors=2, add_indicator=True)
knn.fit(data[columns])
impute_data = knn.transform(data[columns])

In [472]:
test_data = pd.read_csv('test.csv')

In [473]:
test_data_transformed = transform(test_data.copy())

In [461]:
from sklearn.impute import KNNImputer
knn = KNNImputer(n_neighbors=2, add_indicator=True)
knn.fit(test_data_transformed)
impute_data_test = knn.transform(test_data_transformed)

In [395]:
columns = list(data.columns)
columns.remove('buy')

In [396]:
X_train,X_test,y_train,y_test = train_test_split(data[columns],data['buy'],test_size=0.3)

# Logistic regression

In [68]:
LR_model = LogisticRegression() ##as data imbalance LR wont work good
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
LR_model.fit(X_train_scaled,y_train)

LogisticRegression()

In [101]:
X_test_scaled = scaler.transform(X_test)
prediction = LR_model.predict_proba(X_test)
pred = [1 if i>=0.0001 else 0 for i in prediction[:,1]]
print(f1_score(list(y_test),pred))

0.10658757976094185

# Decision Tree Classifier

In [373]:
DT_model = DecisionTreeClassifier(max_depth=5,
    min_samples_split=2,
    min_samples_leaf=1)

In [371]:
##checking accuracy with training data
DT_model.fit(X_train,y_train)
prediction = DT_model.predict(X_test)
print(f1_score(list(y_test),prediction))

0.6703296703296703

In [374]:
##generating output
DT_model.fit(data[columns],data['buy'])
prediction = DT_model.predict(test_data_transformed)

In [375]:
out = pd.DataFrame({'id':test_data['id'],'buy':prediction})
out.to_csv('DT_output.csv',index=False)

# SVC

In [147]:
svc = SVC()

In [121]:
##checking accuracy with training data
svc.fit(X_train,y_train)
prediction = svc.predict(X_test)
print(f1_score(list(y_test),prediction))

0.6214442013129103

In [148]:
##generating output
svc.fit(data[columns],data['buy'])
prediction = svc.predict(test_data_transformed)

In [149]:
out = pd.DataFrame({'id':test_data['id'],'buy':prediction})
out.to_csv('svc_output.csv',index=False)

# Random forest

In [426]:
RF = RandomForestClassifier(n_estimators=1000,n_jobs=-1,max_depth=6)

In [366]:
##checking accuracy with training data
RF.fit(X_train,y_train)
prediction = RF.predict(X_test)
print(f1_score(list(y_test),prediction))

0.6755852842809364

In [427]:
##generating output
#RF.fit(data[columns],data['buy'])
#prediction = RF.predict(test_data_transformed)
RF.fit(impute_data,data['buy'])
prediction = RF.predict(impute_data_test)

In [428]:
out = pd.DataFrame({'id':test_data['id'],'buy':prediction})
out.to_csv('RF_output.csv',index=False)

In [429]:
list(zip(X_train.columns,RF.feature_importances_))

[('id', 0.001586371131986896),
 ('campaign_var_1', 0.0040608791831343825),
 ('campaign_var_2', 0.004168129911039506),
 ('products_purchased', 0.0003123456175346271),
 ('user_activity_var_1', 0.001846851798358149),
 ('user_activity_var_2', 0.17348901232993658),
 ('user_activity_var_3', 0.00010398733975005248),
 ('user_activity_var_4', 0.22586954656852612),
 ('user_activity_var_5', 0.02832141007561811),
 ('user_activity_var_6', 0.000249196443601569),
 ('user_activity_var_7', 0.00044546479494422223),
 ('user_activity_var_8', 0.008266911099674921),
 ('user_activity_var_9', 0.31804268274619113),
 ('user_activity_var_10', 0.004258338851327184),
 ('user_activity_var_11', 0.16091117013640016),
 ('user_activity_var_12', 0.0029290502779856587),
 ('created_at_month', 0.0009147690821751204),
 ('created_at_day', 0.0004920477589345177),
 ('created_at_quarter', 0.0008820864977584719),
 ('Is Weekend', 0.0005375982331517182)]

# XGBOOST

In [462]:
XG = XGBClassifier(n_estimators=100,max_depth=6,learning_rate=0.1,n_jobs=-1,scale_pos_weight=0.7,)

In [398]:
##checking accuracy with training data
XG.fit(X_train,y_train)
prediction = XG.predict(X_test)
print(f1_score(list(y_test),prediction))

[23:23:55] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.6644664466446645

In [463]:
##generating output
#XG.fit(data[columns],data['buy'])\
#prediction = XG.predict(test_data_transformed)
XG.fit(impute_data,data['buy'])
prediction = XG.predict(impute_data_test)

C:\Users\Aditya Lahariya\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[23:48:25] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [464]:
out = pd.DataFrame({'id':test_data['id'],'buy':prediction})
out.to_csv('XG_output.csv',index=False)